<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/style.css') }}">
    <meta charset="UTF-8">
    </head>
<body>
    <div class="container">
        <header class="header header-footer">
        <div class="header_logo_block">
        <img src="{{ url_for('static', filename='img/logo12.png') }}" class="header_logo"   title="STORE"></div>
         <div>


          <nav class="nav">
            <a href="/" class="nav_link link">Главная</a>
            <a href="/Catalog" class="nav_link link">Каталог</a>
            <a href="/About" class="nav_link link">О&nbsp;нас</a>
            <a href="#" class="nav_link link trolley">
            <script src="https://cdn.lordicon.com/libs/mssddfmo/lord-icon-2.1.0.js"></script>
            <lord-icon
                title="Корзина"
                src="https://cdn.lordicon.com/slkvcfos.json"
                trigger="loop-on-hover"
                colors="primary:#545454,secondary:#242424"
                style="width:30px;height:30px">
            </lord-icon> </a>
            <a href="/Account" class="nav_link link trolley">
              <script src="https://cdn.lordicon.com/lusqsztk.js"></script>
            <lord-icon
                src="https://cdn.lordicon.com/rqskgpey.json"
                trigger="hover"
                style="width:30px;height:30px">
            </lord-icon>
            </a>
              <!-- <a href="/Account"  class="nav_link link icon_user">
                <div class="slot">
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
width="30" height="30"
viewBox="0 0 16 16"
style=" fill:#000000;"><path d="M 8 2 C 6.347656 2 5 3.347656 5 5 C 5 6.652344 6.347656 8 8 8 C 9.652344 8 11 6.652344 11 5 C 11 3.347656 9.652344 2 8 2 Z M 8 8 C 5.246094 8 3 10.246094 3 13 L 4 13 C 4 10.785156 5.785156 9 8 9 C 10.214844 9 12 10.785156 12 13 L 13 13 C 13 10.246094 10.753906 8 8 8 Z M 8 3 C 9.109375 3 10 3.890625 10 5 C 10 6.109375 9.109375 7 8 7 C 6.890625 7 6 6.109375 6 5 C 6 3.890625 6.890625 3 8 3 Z"></path></svg>
</div>
</a> -->

            </nav>
          </div>
    </header>
     {% block content %} {% endblock %}
     <footer class="header-footer footer">
        <p><br>Контакт центр.<br>+1 (234) 567-89-10 &nbsp; +1 (324) 775-83-56<br>Ежедневно с 9:00 до 22:00 по Московскому времени</p>
        <p>Интересующие вас вопросы Вы можете написать нам на почту
            store@store.ru</p>
        <p>© Eraaalex, 2022</p>
    </footer>
</div>
</body>
</html>
